.DS_Store
/out
/.idea/workspace.xml
/.idea/kotlinc.xml
./src/Log/log.log
/src/Log/log.log
/src/Log/testLog.log
/TestServer/*.class
/TestServer/*.jar
/Test/TestMain/RunnableTest/testLogs/testServerLog.log
